.signupFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3.25rem);

  background-color: #f0f2f5;
}

#signupForm {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

#signupForm h2 {
  color: #333;
  text-align: center;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input[type='text'],
.formGroup input[type='file'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#signupForm button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5865f2;
  color: white;
  cursor: pointer;
}

#signupForm button:hover {
  background-color: #4752c4;
}
