// LeftSideBar.module.scss
.leftSideBarWrapper {
  width: 15.625rem; // Adjust width as needed
  height: 100%;
}
.leftSideBar {
  //width: 15.625rem; // Adjust width as needed
  height: 100%;
  background-color: #f0f0f0; // Example background color
  box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.2);
  //  overflow: auto;
}

.sidebarItem {
  padding: 0.625rem 1.25rem;
  border-bottom: 1px solid #ddd; // Example border
  &:hover {
    background-color: #e0e0e0; // Example hover effect
  }
}
